body {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    background: #0074ff;
    color: #fff;

    main {
        width: 85%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;

        h1 {
            width: 100%;
            text-align: center;
        }

        #quiz {
            margin: 0 auto;
            .question-heading {
                margin: 40px 0 5px 0;
                font-weight: 700;
            }

            #button {
                margin: 40px auto 20px auto;
                background: #c9e2ff;
                color:#005ecc;
            }
        }
        #after-submit {
            width: 100%;
            visibility: hidden;
            margin: 0 auto 40px auto;
            img {
                width: 100%;
            }
        }
    }
}